* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bleu_fonce: #077f8c;
  --bleuClaire: #65bfaf;
  --blanCassee: #f2f1dc;
  --rouille: #a64e2e;
  --orangeVif: #d95d41;

  /*Typographie*/
  --corps_de_texte: "comic SANS MS", sans-serif;
  --corps_titre: "pacifico", sans-serif;

  /*GAP*/
  --gap: 15px;
  --gap_carte: 10px;
}

body {
  background-color: var(--blanCassee);
  & header {
    display: flex;
    align-items: center;
    background-color: var(--bleu_fonce);
    padding: 10px;
    & form {
      margin-left: auto;
    }
    & h1 {
      font-family: var(--corps_titre);
    }
    & img {
      width: 50px;
    }
    & #benjamin,
    & #dreamTeam {
      text-decoration: none;
      color: var(--blanCassee);
      background-color: var(--rouille);
      border-radius: 15px;
      padding: 10px;
      margin-left: var(--gap);
    }
    & #benjamin:hover,
    & #dreamTeam:hover {
      background-color: var(--orangeVif);
    }
  }
  & footer {
    background-color: var(--bleu_fonce);
    color: var(--blanCassee);
    padding: 10px;
    text-align: center;
  }
}
